
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Free Easy-Trip Website Template | Contact :: w3layouts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="css/slider.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    
    
    <div class="contact">
        <div class="wrap">
             <div class="clear"></div>
            <div class="contact-bottom">
                <div class="contact-left">
                    <br/></br>
                    <div class="contact-add">
                        <h3>Address One</h3>
                        <p> insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.</p>
                        <p>Telephone:1-22-5555</p>
                        <p>Fax:1-22-5555</p>
                        <p>Email:<a href="mailto:signup@gmail.com">signup@mail.com</a></p>
                    </div>
                    <div class="contact-add">
                        <h3>Address Two</h3>
                        <p>Telephone:1-22-5555</p>
                        <p>Fax:1-22-5555</p>
                        <p>Email:<a href="mailto:signup@gmail.com">signup@mail.com</a></p>
                    </div>
                </div>
                <div class="contact-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3781.2416745862574!2d30.32734517045118!3d40.741777172128835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ccaded70ee240b%3A0xd81085b5551312fd!2sBilgisayar%20Ve%20Bili%C5%9Fim%20Bilimleri%20Fak%C3%BCltesi!5e0!3m2!1str!2str!4v1672309579570!5m2!1str!2str"
                            width="1465"
                            height="1000"
                            style="border: 0"
                            allowfullscreen=""
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                     ></iframe>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    
</body>
</html>


